<form [formGroup]="locationForm">
  <div class="form-group">
    <label for="residence-type">Residence Type</label>
    <select formControlName="residenceType" class="form-control" required name="residence-type">
      <option *ngFor="let type of residenceTypes" [value]="type">{{type}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="address1">Address Line 1</label>
    <input type="text" formControlName="address1" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.address1.errors }" />
    <div *ngIf="submitted && f.address1.errors" class="invalid-feedback">
      <div *ngIf="f.address1.errors.required">Address is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="address2">Address Line 2</label>
    <input type="text" formControlName="address2" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.address2.errors }" />
    <div *ngIf="submitted && f.address2.errors" class="invalid-feedback">
      <div *ngIf="f.address2.errors.required">Address is required</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
      <label for="city">City</label>
      <input type="text" formControlName="city" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
        <div *ngIf="f.city.errors.required">City is required</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="state">State</label>
      <input type="state" formControlName="state" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
      <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
        <div *ngIf="f.state.errors.required">state is required</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="zip">Zip</label>
      <input type="zip" formControlName="zip" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.zip.errors }" />
      <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
        <div *ngIf="f.zip.errors.required">zip is required</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="residenceUse">Residence Use</label>
    <select formControlName="residenceUse" class="form-control" required name="residenceUse">
      <option *ngFor="let type of residenceUses" [value]="type">{{type}}</option>
    </select>
  </div>
  <div class="row">
    <div class="col text-right">
      <button type="button" class="btn btn-success" (click)="save()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Save & Next
      </button>
    </div>
  </div>
</form>
